<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="" row>
        <span>Signup</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="signupForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error *ngIf="getControl('name')?.touched && getControl('name')?.invalid">
                    <span *ngIf="getControl('name')?.errors?.['required']">This field is madatory</span>
                    <span *ngIf="getControl('name')?.errors?.['pattern']">This field is invalid</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="getControl('email')?.touched && getControl('email')?.invalid">
                    <span *ngIf="getControl('email')?.errors?.['required']">This field is madatory</span>
                    <span *ngIf="getControl('email')?.errors?.['pattern']">This field is invalid</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Contact Number</mat-label>
                <input matInput formControlName="contactNumber" required>
                <mat-error *ngIf="getControl('contactNumber')?.touched && getControl('contactNumber')?.invalid">
                    <span *ngIf="getControl('contactNumber')?.errors?.['required']">This field is madatory</span>
                    <span *ngIf="getControl('contactNumber')?.errors?.['pattern']">This field is invalid</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" [type]="password?'password':'text'" required>
                <button type="button" mat-icon-button matSuffix (click)="password = !password"
                    [attr.arial-label]="'Hide password'" [attr.aria-pressed]="password">
                    <mat-icon>{{password ? 'visibility_off':'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="getControl('password')?.touched && getControl('password')?.invalid">
                    <span *ngIf="getControl('password')?.errors?.['required']">This field is madatory</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex>
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirmPassword" type="password"
                    [type]="confirmPassword?'password':'text'" required>
                <button type="button" mat-icon-button matSuffix (click)="confirmPassword = !confirmPassword"
                    [attr.arial-label]="'Hide password'" [attr.aria-pressed]="confirmPassword">
                    <mat-icon>{{confirmPassword ? 'visibility_off':'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="getControl('confirmPassword')?.touched && getControl('confirmPassword')?.invalid">
                    <span *ngIf="getControl('confirmPassword')?.errors?.['required']">This field is madatory</span>
                </mat-error>
                <mat-hint *ngIf="validateSubmit() && !getControl('confirmPassword')?.invalid">
                    <span>New Password & Confirm Password does not match</span>
                </mat-hint>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
        [disabled]="validateSubmit() || !(signupForm.valid && signupForm.dirty)">
        <mat-icon>save</mat-icon> Sign Up
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon> Close
    </button>
</mat-dialog-actions>